<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=7, initial-scale=1.0" />
    <title>Connect | Plataforma de estudos</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
    <meta name="theme-color" content="" />

    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/forms.css" />
    <link rel="stylesheet" href="./css/page-landing.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;
    family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
    <script src="/js/addField.js" defer></script>
  </head>

  <body id="page-landing">
    <div id="container">
      <div class="logo-container">
        <img src="/images/logo_transparent.png" alt="Logo da Connect" />
        <h3>Plataforma de estudos</h3>
      </div>

      <img
        class="hero-image"
        src="/images/studygirl2.svg"
        alt="Estude"
      />

      <div class="buttons-container">
        <a class="study" href="/study">
          Sou aluno
        </a>
        <a class="give-classes" href="/give-classes">           
          Sou Professor
        </a>
      </div>
    
    </div>
  </body>
</html>
